// colors
$red: #FF4343;
$medium_red: #E71414;
$dark_red: rgba(185, 12, 12, 0.8);


// colors for fonts
$white: #FFFFFF;
$grey: #2D3033;
$light_grey: #6C7279;
$medium_grey: #808080;
$red: #FF4343;
$black: #000000;

// font-size
$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;




